:root {
  --heading-font-family: "Bungee", monospace;
  --general-font-family: "Poppins", sans-serif;
  --primary-color: #f05454ea;
  --secondary-color: #eef2ffda;
  --general-color: #676fa3;
}

body {
  background: var(--general-color);
  font-family: var(--general-font-family);
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 95px;
  margin: 0;
}

h2 {
  font-family: var(--general-font-family);
  font-size: 65px;
  font-weight: lighter;
  line-height: 1.6;
}

h3 {
  font-size: 20px;
}

p {
  color: var(--secondary-color);
}

nav {
  padding: 15px 5px;
}
.main-nav {
  background: var(--primary-color);
}
.experience-nav {
  background: var(--general-color);
}
.projects-nav {
  background: var(--secondary-color);
}

nav li {
  display: inline;
  margin: 10px;
}
nav a {
  color: #212529;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
nav a:hover {
  color: rgb(0, 0, 0);
}

ul {
  color: var(--secondary-color);
  list-style: none;
  line-height: 2;
  margin: 0;
  opacity: 0.8;
  padding-left: 0;
}

.hero {
  background: var(--primary-color);
  padding: 100px 60px;
}
.experience-hero {
  background: var(--general-color);
  padding: 50px 60px;
}
.projects-hero {
  background: var(--secondary-color);
  padding: 50px 60px;
}

.homepage-container {
  margin-top: 150px;
  margin-bottom: 150px;
  padding: auto 50px;
}
.experience-container,
.projects-container {
  margin-top: 80px;
  margin-bottom: 50px;
  padding: auto 60px;
}

.profile-picture {
  border-radius: 30px;
  border: 5px solid var(--secondary-color);
  display: block;
  margin: 0 auto;
}

.homepage-container .title h2 {
  font-size: 50px;
  line-height: 0.8;
}
.homepage-container .title .about {
  font-size: 25px;
}

.caps {
  font-family: var(--heading-font-family);
}

.about-paragraph,
.about-experience {
  font-weight: 350;
  line-height: 1.7;
  padding-right: 5px;
  text-align: justify;
}

.check-projects,
.launch-project {
  border-radius: 30px;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  color: #212529;
  display: inline-block;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px 20px;
  text-decoration: none;
  transition: 350ms ease-in-out;
}
.check-projects:hover,
.launch-project:hover {
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

.shecodes-logo {
  max-width: 30%;
  position: relative;
  top: -4px;
}
.loading-icon {
  display: block;
  font-size: 50px;
  margin-top: 90px;
  text-align: center;
}

.experience-container .courses li {
  font-size: 18px;
  text-align: start;
}

.projects-container .project-row {
  border-radius: 30px;
  margin: 15px auto;
}
.project-row img {
  border: 5px solid var(--secondary-color);
  border-radius: 30px;
  opacity: 0.8;
}

footer {
  background: var(--secondary-color);
  margin-top: 100px;
  padding: 40px 0 40px 0;
}
.projects-footer {
  background: var(--primary-color);
}
footer .social-icons a {
  color: #212529;
  font-size: 30px;
  margin: 0 10px;
  text-decoration: none;
}
footer .social-icons a:hover {
  color: var(--general-color);
}
footer .contact-me {
  text-align: center;
}
footer .open-sourced {
  font-size: 13px;
  opacity: 0.9;
}

footer .github-project-link {
  color: #212529;
  text-decoration: none;
}
footer .github-project-link:hover {
  color: var(--general-color);
}

@media (max-width: 768px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 30px;
  }

  .hero {
    padding: 40px 20px;
  }

  .container {
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
  }

  nav a {
    font-size: 12px;
  }
  footer .contact-me {
    font-size: 14px;
  }
  footer .social-icons {
    font-size: 15px;
  }

  .homepage-container .title h2 {
    font-size: 20px;
    line-height: 1;
  }
  .homepage-container .title .about {
    font-size: 15px;
  }

  .about-me-content {
    margin-top: 15px;
  }
  .about-me-content p {
    font-size: 12px;
  }

  .experience-container .about-experience {
    font-size: 14px;
  }
  .experience-container ul {
    font-size: 14px;
  }

  .check-projects,
  .launch-project {
    display: block;
    font-size: 12px;
  }

  .experience-container .column-2 {
    font-size: 15px;
    margin-top: 30px;
  }
}
