:root {
  --heading-font-family: "Bungee", monospace;
  --general-font-family: "Poppins", sans-serif;
  --primary-color: #f05454;
  --secondary-color: #ffffffcc;
  --general-color: #676fa3;
}

body {
  font-family: var(--general-font-family);
  background: var(--general-color);
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 95px;
  margin: 0;
}

h2 {
  font-family: var(--general-font-family);
  font-weight: lighter;
  font-size: 65px;
  line-height: 1.6;
}

h3 {
  font-size: 20px;
}

p {
  color: var(--secondary-color);
}

ul {
  color: var(--secondary-color);
  list-style: none;
  padding-left: 0;
  line-height: 2;
  opacity: 0.8;
}

.hero {
  background: var(--primary-color);
  padding: 100px 42px;
}
.experience-hero {
  background: var(--general-color);
  padding: 50px 60px;
}
.projects-hero {
  background: #cddeff;
  padding: 50px 60px;
}

.homepage-container {
  margin-top: 150px;
  margin-bottom: 100px;
  padding: auto 50px;
}
.experience-container,
.projects-container {
  margin-top: 100px;
  margin-bottom: 50px;
  padding: auto 60px;
}

.profile-picture {
  border-radius: 30px;
  border: 5px solid var(--secondary-color);
}

.title h2 {
  line-height: 0.9;
}
.title .about {
  font-size: 25px;
}
.caps-name {
  font-family: var(--heading-font-family);
  padding-left: 20px;
}

.about-paragraph,
.about-experience {
  line-height: 1.9;
  font-weight: 300;
}

.check-projects {
  margin: 0 auto;
  display: inline-block;
  margin-top: 40px;
  border-radius: 30px;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  font-size: 15px;
  padding: 10px 20px;
  color: #212529;
  text-decoration: none;
}
.check-projects:hover {
  color: var(--secondary-color);
  transition: 350ms ease-in-out;
}

.tools-logos {
  background-color: #ffffff;
  border-radius: 30px;
  opacity: 0.6;
  padding: 25px 15px;
}

.tools-logos img {
  max-width: 50%;
}

.shecodes-logo {
  max-width: 26%;
  position: relative;
  top: -4px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 30px;
  }

  .hero {
    padding: 80px 42px;
  }

  .container {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .about-me-content {
    margin-top: 15px;
  }

  .check-projects {
    display: block;
  }

  .code-experience {
    margin-top: 20px;
  }
}
