:root {
  --heading-font-family: "Bungee", monospace;
  --general-font-family: "Poppins", sans-serif;
  --background-color: #bfb8c5;
}

body {
  font-family: var(--general-font-family);
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 80px;
  margin: 0;
}

h2 {
  font-family: var(--general-font-family);
  font-weight: lighter;
  font-size: 40px;
  line-height: 1.7;
}

.heading {
  background: var(--background-color);
  padding: 150px 50px;
}

.highlight {
  background: #d9d3dc7a;
}
